<div id="signInBox">
	<div id="SignInSheet">
        <p>Log in as an existing user:</p>
		<form name="existingUser" ng-submit="loginUser()" novalidate>
            <div class="form-group">
                <label>Email</label>
                    <input type="text" name="email" class="form-control" ng-model="user.email" required id="authEmail">
            </div>
            <div class="form-group">
            <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="user.password" required id="authPassword">
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="loginUser.$invalid" id="authenticateUser">Log in</button>
        </form>
	</div>
	<div id="signUpSheet">
        <p>Or create a new user:</p>
		<form name="newUser" ng-submit="registerUser()" novalidate>
            <div class="form-group">
                <label>Email</label>
                    <input type="text" name="name" class="form-control" ng-model="newUser.email" required id="emailIn">
            </div>
            <div class="form-group">
            <label>Create Password</label>
                <input type="password" name="password" class="form-control" ng-model="newUser.password" required id="passwordIn">
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="registerUser.$invalid" id="createUser">Create User</button>
        </form>	</div>

</div>

</body>