#contentBox {
	box-sizing: border-box;
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 5%;
	margin-right: 5%;
}

#title {
	margin-top: 40px;
}

#description {
	margin-top: 40px;
}

#backButton {
	color: #286090;
	width: 30%;
	height: 40px;
}

#backArrow {
	display: inline-block;
	float: left;
	width: 10%;
	position: relative;
	top: 13px;
	left: 2px;
}

#backText {
	display: inline-block;
	float: right;
	width: 80%;
	box-sizing: border-box;
	font-size: 20px;
	padding-top: 8px;
	padding-bottom: 12px;
}

#iconHolder {
	position: relative;
	top: 20px;
	font-size: 20px;
}

.undo {
	transform: scaleX(-1);
}

.textButton {
	margin: 1px;
	padding: 5px;
}