body {
	margin: 0px;
	font-size: 0px;
	font-family: sans-serif;
}

p {
	margin: 0px;
}

#mobileHome {
	display: none;
}

#mobileUser {
	display: none;
}

.mobileNavigation {
	display: none;
}

#navBar {
	width: 100%;
	height: 50px;
	background-color: #337ab7;
}

#homeButton {
	display: inline-block;
	width: 10%;
	height: 100%;
}

#searchBar {
	display: inline-block;
	float: right;
	width: 20%;
	height: 100%;
}

#searchInput{
	width: 90%;
	height: 30px;
	margin: 10px;
}

#logIn {
	float: right;
	display: inline-block;
	width: 10%;
	height: 100%;
}

	#logIn:hover {
		cursor: pointer;
	}
	
	#signedIn {
		display: inline-block;
		float: right;
		width: 10%;
		height: 100%;
		box-sizing: border-box;
		font-size: 16px;
		color: #FFF;
		padding: 17px;
		text-align: center;
		margin: 0px;
	}
	
	#signedInLabel {
		position: relative;
		display: none;
		font-family: sans-serif;
		width: 100%;
		padding: 1px;
		border: 1px solid #000;
		background-color: #286090;
		font-size: 14px;
		color: #FFF;
		box-sizing: border-box;
		margin: 0px;
	}
	
	#signedIn:hover > #signedInLabel {
		display: block;
	}


.button {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: 16px;
	color: #FFF;
	padding-top: 17px;
	padding-bottom: 17px;
	text-align: center;
	margin: 0px;
}

	.button:hover {
		background-color: #286090;
	}

.text {
	margin: 0px;
	height: 100%;
}