@media screen and (min-width: 800px){
	#contentBox {
	box-sizing: border-box;
	width: 800px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
}

@media screen and (max-width: 799px){
	#contentBox {
	box-sizing: border-box;
	width: 600px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
}

#title {
	margin-top: 40px;
}

#description {
	margin-top: 40px;
}

#backButton {
	color: #286090;
	width: 10%;
	height: 40px;
}

#backButton:hover {
	background-color: #E2E2E2;
	cursor: pointer;
}

#backArrow {
	display: inline-block;
	float: left;
	width: 10%;
	position: relative;
	top: 13px;
	left: 2px;
}

#backText {
	display: inline-block;
	float: right;
	width: 80%;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 12px;
}

#iconHolder {
	position: relative;
	top: 20px;
	font-size: 20px;
}

.undo {
	transform: scaleX(-1);
}

.textButton {
	margin: 1px;
	padding: 5px;
}

.textButton:hover {
	background-color: #E2E2E2;
	cursor: pointer;
}

#submit {
	margin-top: 20px;
}